.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    width: 400px;
    margin-top: 200px;
    padding-bottom: 30px;
    overflow: hidden;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(9, 9, 9, 0.444); 
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    background: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    color:#000;

    font-size: 28px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background:#000;
    border-radius: 9px;
}
.inputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 280px;
    height: 30px;
    background: #eaeaea;
    border-radius: 10px;
}
.input img{
    margin: 0px 30px;
    width: 14px;
    height: 14px;
}
.input input{
    height: 20px;
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 9px;
}
.forget-password{
    background: #eaeaea;
    width: 120px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 10px;
}
.forget-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    color: #fff;
    background: #000;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color: #000000;
}